{% extends 'adminpanel/base.html' %}
{% block title %}
Shopify | Dashboard
{% endblock %}
    
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit Category</li>
    </ol>
  </nav>
  <div class="row m-3">
    <div class="col-lg-9 col-md-6 col-sm-6">

    <form method="post" class="m-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class = "btn btn-primary">Update Category</button>
    
    </form>
    </div>
</div>



{% endblock %}
